body {
    background-color: rgb(218, 218, 218);
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-tabs {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-tabs button {
    border-radius: 4px;
    margin-left: 3px;
    margin-right: 3px;
}

.nav-tabs .active {
    background-color: rgb(218, 218, 218) !important;
}

.nav-tabs button:hover {
    border: none;
}

.abt-me {
    font-size: 1.4rem;
    margin-top: 4rem;
}

.container {
    margin-top: 4rem;
    position: relative;
    width: 50%;
}
  
.project-card {
    width: 70%
}

.card {
    border: 1px solid rgb(150, 150, 150);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.long-rides .card-text{
    color: black;
    padding: 0px;
}

.ticket .card-text{
    color: rgb(0, 0, 0);
    padding: 0px;
}

.ticket .card-text a{
    color: rgb(255, 255, 255);
    padding: 0px;
}

.weather-dashboard .card-text{
    color: black;
    padding: 0px;
}

.card-text a{
    text-decoration: none;
    color: black;
}

.card-body {
    background-color: rgb(228, 228, 228);
}

.text-contact {
    margin-bottom: 4rem;
}

.icon {
    max-width: 7rem;
}

.copy {
    background-color: rgb(218, 218, 218);
    border: none;
    margin-bottom: 3px;
}

footer {
    padding: 2rem;
    margin-top: 4rem;
    border-top: 2px solid gray;
    background-color: rgb(184, 184, 184);
}
